.test {
  background: #123123;
  @include row-flex();
  @include size(12);
  @include size-xs(4);
  margin: 0 auto;
  color: yellow;
}

.papapa {
  display: inline;
  @include row-flex();
  @include size(12);
  @include size-xs(4);
}
.indigo{
  background: yellow;
}


.item{
  @include size(5);
  @include size-xs(12);
  &:nth-child(1){
    order: 1;
  }
  &:nth-child(2){
    order: 2;
  }
  &:nth-child(3){
    order: 3;
    @include md(order,0);
  }
  &:nth-child(4){
    order: 4;
  }
  &__wrapper{
    @include wrapper();
    @include row-flex();
    margin: 0 auto;
    justify-content: space-between;
    align-content: stretch;
    flex-wrap: wrap;
  }
  &:nth-child(odd){
    background: red;
  }
  background: yellow;
  &__text{
    font-size: 20px;
  }
}